@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* For Webkit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1a202c; /* bg-gray-800 */
}

::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* bg-gray-600 */
  border-radius: 10px;
  border: 2px solid #1a202c;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #718096; /* bg-gray-500 */
}
